html, body {
  height: 100%;
}

.popover-content p{
  font-weight: normal;
}

h3.popover-title {
  font-weight: bold;
}

 .superscript{font-size:xx-small; vertical-align:top;} 
.subscript{font-size:90%;
  vertical-align: sub;
  margin-left:-0.1em;} 
/* app css stylesheet */
/*
body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

/*popover was being hidden with in div in side collapsible div*/
/*http://stackoverflow.com/questions/13261393/bootstrap-popover-clipped-to-extent-of-containing-div*/
.collapse.in {overflow:visible}

#wrap {
  min-height: 100%;
height: auto !important;
height: 100%;
margin:0 auto -80px;
}

#footer {
  background-color: whiteSmoke;
  position:fixed;
  bottom:0%;
  width: 100%;
  border-top: 1px solid #CCC;
}

#push, #footer {
  height: 80px;
}

#section-type-buttons{
  height: 60px;
  padding-top: 24px;
}

path {
        stroke: steelblue;
        stroke-width: 1px;
        fill: none;
      }

body {
  padding-top: 40px;
}

#section-name a{
  vertical-align: middle!important;
}

#section-name {
  height: 50px;
  }

.table th,
.table td {
/*  padding: 8px;
  line-height: 20px;
  text-align: left;*/
  vertical-align: middle!important;
  /*border-top: 1px solid #dddddd;*/
}

#section-name plotsection, #section-name svg {
  vertical-align: middle;
}

g path {
  stroke: #696969;
}


.clearable{
    position:relative;
}
.data_field{
    padding-right:17px; /* add space for the 'x' icon*/
}
span.icon_clear{
    position:absolute;
    right:10px;    
    display:none;
    
    /* now go with the styling */
    cursor:pointer;
    font: bold 1em sans-serif;
    color:#38468F;  
    }
    span.icon_clear:hover{
        color:#f52;
    }


.querybox {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 50px auto 20px;
        background-color: #fff;
/*        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
      }


    .querybox input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }