= render 'nav.html.haml'
#wrap
  %div.container
    %h1
      About
    .span12
      %p I am a <a href="http://www.linkedin.com/in/elliottgoodwin">civil engineer</a> by day and <a href="http://19industries.com">aspiring web developer</a> by night.  Section Explorer is one of my side projects.

      %p Section Explorer helps you explore <a href="http://www.aisc.org/content.aspx?id=2868">AISC Shapes Database Version 14.0</a> section property data.

      %p Find a bug or have a feature request?  I manage the code for this website on  <a href="https://github.com/elliottgoodwin/sectionexplorer">github</a>.  

      %p <a href="https://github.com/signup/free">Sign up for an account</a> and <a href="https://github.com/elliottgoodwin/sectionexplorer/issues/new">file an issue</a>!
