.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/#/"} Section Explorer
      %ul.nav
        %li.dropdown
          %a#drop1.dropdown-toggle{:href =>"#", :role=>"button", "data-toggle"=>"dropdown"} 
            Show All
            %b.caret
          %ul.dropdown-menu{:role=>"menu", "aria-labelledby" =>"drop1"}
            %li
              %a{:href => "/W/all/", :tabindex => "-1"} WF
            %li
              %a.muted{:href => "#", :tabindex => "-1"} L
      %ul.nav.pull-right
        %li
          %a{:href => "/about"} About