= render 'nav-index.html.haml'
#wrap
  %div.container
    %div.querybox
      %input#query-type-ahead.input-block-level{:type => "text", :placeholder => "search wide flange sections"}
      / , "data-items" => 10,"data-provide" =>"typeahead", "data-source" => '{{sectionNames}}'}

