<!doctype html>
%html{:lang => "en", "ng-app" => "phonecat"}
  %head
    %meta{:charset => "utf-8"}
      %title SectionExplorer
    %link{:href => "css/app.css", :rel => "stylesheet"}
    %link{:href=> "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href => "css/jquery-ui.css", :rel => "stylesheet"}
    %link{:hreg=>"http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css", :rel=>"stylesheet"}


  %body{"ng-view" => "", "data-spy" => "scroll", "data-target" => ".navbar"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "lib/angular/angular.js"}
    %script{:src => "lib/angular-ui/angular-ui.min.js"}

    %script{:src => "js/app.js"}
    %script{:src => "js/controllers.js"}
    %script{:src => "js/filters.js"}
    %script{:src => "js/services.js"}
    
    %script{:src => "lib/angular/angular-resource.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"}
    %script{:src => "lib/spin/spin.min.js"}
    %script{:src => "lib/angular-ui/bootstrap/accordion.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"}
    %script{:src => "js/custom.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"}
    %script{:src => "js/directives.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36990134-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      

    

    